<!doctype html>
<html lang="fr-FR">

<head>
   <title>Accueil - DOMAP</title>
   <%- include('partials/dependencies'); %>
</head>


<body>

   <%- include('partials/navbar'); %>

      </div>
      </div>
      </div>
      <div class="content-wrapper">


      </div>
</body>

<%- include('partials/additionalCss'); %>

</html>