<!doctype html>
<html lang="fr-FR">

<head>
   <title>Accueil - DOMAP</title>
   <%- include('partials/dependencies'); %>
</head>


<body>
   <%- include('partials/navbarProduct'); %>
      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
         <div class="row">
            <div class="col-12">
               <table class="table table-bordered">
                  <thead>
                     <tr>
                        <th scope="col">No</th>
                        <th scope="col">Nom du produit</th>
                        <th scope="col">Prix euro/unité (L ou Kg)</th>
                        <th scope="col">Valeurs en euro</th>
                        <th scope="col">Quantité par unité</th>
                        <th scope="col">Pays exportateur</th>
                        <th scope="col">Pays Importateur</th>

                        <th scope="col">Actions</th>
                     </tr>
                  </thead>
                  <tbody>

                     <tr>
                        <th scope="row">
            
                        </th>
                        <td>
                           Pas de nom produit dans BASE
                        </td>
                        <td>
                  
                        </td>
                        <td>
                           
                         </td>
                         <td>
                           
                         </td>
                        <td>
                          
                         </td>
                         <td>
                          
                         </td>
                        <td>
                           <a href=""><button class="btn btn-success"><i class="fa fa-eye"></i></button></a>
                           <a href=""><button type="button" class="btn btn-danger"><i class="fa fa-exclamation"></i></button></a>
                        </td>
                     </tr>
               
                  <!-- FAIT QUELQUE CHOSE-->
                  </tbody>
               </table>
            </div>
         </div>
      </div>
      </div>
</body>

<%- include('partials/additionalCss'); %>

</html>